.hamburgerMenu {
  position: fixed;
  top: 0;
  left: -240px;
  height: 100%;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

.hamburgerMenu.open {
  left: 0; /* Меню показывается, когда добавлен класс open */
}

.hamburgerLines {
  position: fixed;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 1001;
  transition: all 0.2s ease-in-out;
}

.hamburgerLines:hover {
  opacity: 0.9;
}

.line {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 2px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.hamburgerMenu .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburgerMenu .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburgerMenu .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.hamburgerMenu input.checkbox:checked ~ .hamburgerLines .line1 {
  transform: rotate(45deg);
}

.hamburgerMenu input.checkbox:checked ~ .hamburgerLines .line2 {
  transform: scaleY(0);
}

.hamburgerMenu input.checkbox:checked ~ .hamburgerLines .line3 {
  transform: rotate(-45deg);
}

.menuItems {
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

.logo {
  padding: 1.7rem 0;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.username {
  margin: 1rem 0 0 0;
}

.logoutButton {
  width: fit-content;
  margin: 20px auto 0;
  color: #5b0606;
}

.logoutButton:hover {
  color: #c90303;
  transition: all 0.2s;
}

.languageButtons {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.languageButtons button {
  margin: 0 10px;
  padding: 5px 10px;
  background: none;
  border: 1px solid #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.languageButtons button:hover {
  opacity: 0.7;
}

@media (min-width: 840px) {
  .hamburgerMenu {
    display: none;
  }
}
