.hamburgerMenu {
  position: fixed;
  top: 0;
  left: -300px;
  height: 100%;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

.hamburgerMenu.open {
  left: 0;
}

.hamburgerLines {
  position: fixed;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 1001;
  transition: all 0.2s ease-in-out;
}

.hamburgerLines:hover {
  opacity: 0.9;
}

.line {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 2px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.line1Open {
  transform: rotate(45deg) translate(9px, 9px);
}

.line2Open {
  opacity: 0;
}

.line3Open {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menuItems {
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

/* Custom scrollbar styles */
.menuItems::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.menuItems::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0;
}

.menuItems::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 10px;
}

.logo {
  padding: 1.7rem 0;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.username {
  margin: 1rem 0 0 0;
}

.logoutButton {
  width: fit-content;
  margin: 20px auto 0;
  color: #5b0606;
}

.logoutButton button {
  margin-left: 0;
}

.logoutButton:hover {
  color: #c90303;
  transition: all 0.2s;
}

.collections {
  width: fit-content;
  margin: 20px auto 0;
}

.collections button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.collections button:hover {
  opacity: 0.7;
}

.languageButtons {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.languageButtons button {
  margin: 0 10px;
  padding: 5px 10px;
  background: none;
  border: 1px solid #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.languageButtons button:hover {
  opacity: 0.7;
}

.titleContainer {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-left: 45px;
}

.hidden {
  opacity: 0;
}

@media (min-width: 840px) {
  .hamburgerMenu {
    display: none;
  }
}
